<h2>
	<em>Rush Dew Holt (1905-1955):</em><br>The Senator Too Young to Serve
</h2>
<p>
	To say Rush Holt was precocious would be an understatement. A native
	 of Lewis County, Holt was admitted to West Virginia University’s 
	 freshman class at the tender age of 15.  Completing two years at WVU,
	 he transferred to Salem College, graduating at the age of 19.  In 
	 1930, at the age of 25, he won election to the West Virginia House 
	 of Delegates.  Just four years later, at age 29, he became the youngest 
	 person ever elected to the United States Senate, a distinction he 
	 continues to hold to this day.  Though his term was to begin on 
	 January 3, 1935, Senator Holt was literally too young to serve.  
	 He was not allowed to take his seat until reaching the mandatory 
	 age of 30 on June 19 later that year.
</p>
<p>
	During the next five and a half years, the young firebrand Democrat 
	become well-known across the country for his outspoken views. Though 
	initially a supporter of President Franklin D. Roosevelt, he became 
	increasingly at odds with the Roosevelt administration’s liberal 
	spending habits and “strangle hold” on the reins of government. He 
	went on to become an ardent opponent of the President’s quest to break 
	American presidential tradition by running for an unprecedented third 
	term of office in 1939.
</p>
<p>
	Sen. Holt’s increasingly conservative views resulted in his gradual 
	loss of the support of organized labor, and as a result, he failed to 
	win reelection to the Senate in 1940.  In the ensuing years, Holt 
	shifted the focus of his attention back to West Virginia.  He remained 
	a fixture in the state’s political scene for the next decade and a half.  
	He was elected to the House of Delegates on the Democratic ticket in 
	1942, 1944, 1946, and 1948, and on the Republican ticket in 1954. 
	He competed unsuccessfully for the Democratic gubernatorial nomination 
	in 1944, for the U.S. Senate on the Democratic ticket in 1948, and 
	for the Republican gubernatorial nomination in 1952.  His remarkable 
	career was brought to an end by his untimely death in 1955 at age 49, 
	an age at which many politicians are in the advent of their political 
	careers.</p>

<h3>The Holt Cartoons</h3>
<p>
	A naturally gifted public speaker, Senator Holt proved to be a highly 
	charismatic figure when he burst onto the Washington scene in 1934.  
	His youth, and his passion for his political positions, attracted a 
	level of media attention that was extraordinary for a freshman senator.  
	Indeed, even Hollywood took note.  When a feature film (Mr. Smith Goes 
	to Washington) about an idealistic young senator began production in 
	1939, Rush Holt became the real life model for the role of “Senator 
	Jefferson Smith” as portrayed by actor Jimmy Stewart.  During the 
	course of his relatively brief career in politics, Rush Holt was the 
	subject of literally hundreds of political cartoons in newspapers across 
	America.  The originals of many ended up in his personal papers and 
	are now preserved in the West Virginia and Regional History Center 
	at the West Virginia University Libraries.  
</p>
<div style="clear:both;"></div>
<a class="button" href="/?utf8=✓&search_field=all_fields&q="><i class="fa fa-hand-o-right"></i>
 Browse The Collection</a>
 <div style="clear:both;"></div>