  <!-- Collection Header -->
<div class="collection-header" role="banner" aria-label="collection banner">
  <div class="wrap">
      <h1 class="collection-header-title">
          <a href="/">Rush Dew Holt Political Cartoons</a>
      </h1>
      <%= render :partial=>'/user_util_links' %>
  </div>
</div>