<!-- WVRHC Header -->
<section class="wvrhc-header mobile wvubottom" role="banner" aria-label="wvu regional history center banner">
        <a id="wvrhctoggle" class="wvrhcTitle" href="#"><span class="flet">WVRHC</span>
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-up"></i>
        </a>
    <ul class="list2">
        <li><a href="https://wvrhc.lib.wvu.edu/about/">About</a></li>
        <li><a href="https://wvrhc.lib.wvu.edu/collections/">Collections</a></li>
        <li><a href="https://wvrhc.lib.wvu.edu/databases/">Databases</a></li>
        <li><a href="https://wvrhc.lib.wvu.edu/research/">Research</a></li>
        <li><a href="https://wvrhc.lib.wvu.edu/visit/">Visit</a></li>
        <li><a href="https://wvrhc.lib.wvu.edu/">WVRHC Home</a></li>
    </ul>
</section>
<section class="wvrhc-header tablet wvubottom" role="banner" aria-label="wvu regional history center banner">
    <div class="wrap">
        <a class="wvrhcTitle" href="https://wvrhc.lib.wvu.edu/">
            <span class="flet">W</span>est <span class="flet">V</span>irginia & <span class="flet">R</span>egional <nobr><span class="flet">H</span>istory <span class="flet">C</span>enter</nobr>
        </a>
        <ul class="wvrhcNav">
            <li><a href="https://wvrhc.lib.wvu.edu/about/">About</a></li>
            <li><a href="https://wvrhc.lib.wvu.edu/collections/">Collections</a></li>
            <li><a href="https://wvrhc.lib.wvu.edu/databases/">Databases</a></li>
            <li><a href="https://wvrhc.lib.wvu.edu/research/">Research</a></li>
            <li><a href="https://wvrhc.lib.wvu.edu/visit/">Visit</a></li>
        </ul>
    </div>
</section>
